<div id="restaurant-menu" >
  <div class="container" >
    <div class="section-title text-center">
     
      <h2 id="menu">Menu</h2>
      
     
      <div id="line"></div>
    </div>
   
    <div class="row" >
    
     
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Breakfast & Starters</h2>
          <hr>
          <div class="menu-item">
            <img src="/assets/img/gallery/image1.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
            <div class="menu-item-name">Chicken kabag</div>
            <div class="menu-item-price"> $9 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/image2.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Fried Ravioli</div>
            <div class="menu-item-price"> $7 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/image3.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">chicken manchoori</div>
            <div class="menu-item-price"> $9 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/03.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Rolls</div>
            <div class="menu-item-price"> $10 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Main Course</h2>
          <hr>
          <div class="menu-item">
            <img src="/assets/img/gallery/image1.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Roast Stuffed Chicken</div>
            <div class="menu-item-price"> $18 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/image3.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Chicken & Mushroom Pasta</div>
            <div class="menu-item-price"> $20 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/01.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">chicken biriyani</div>
            <div class="menu-item-price"> $14 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/image1.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">panner tikka</div>
            <div class="menu-item-price"> $19 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Dinner</h2>
          <hr>
          <div class="menu-item">
            <img src="/assets/img/gallery/kabab.JPG" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">veg fried rice</div>
            <div class="menu-item-price"> $15 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/chicken_lolipop.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Crispy Fried Chicken</div>
            <div class="menu-item-price"> $17 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/biriyani.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Mongolian Shrimp & Broccoli</div>
            <div class="menu-item-price"> $18 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/specials/1.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Spicy Coconut Salmon</div>
            <div class="menu-item-price"> $20 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Desserts</h2>
          <hr>
          <div class="menu-item">
            <img src="/assets/img/gallery/mud-cake.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Chocolate Mud Cake</div>
            <div class="menu-item-price"> $11 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/cocnut-salcom.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Bourbon-Pecan Tart</div>
            <div class="menu-item-price"> $14 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/mud-cake.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Texas Sheet Cake</div>
            <div class="menu-item-price"> $15 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <img src="/assets/img/gallery/vanella.jpg" style="width: 14cm; height: 7cm; border-radius: 0.4em;">
           
            <div class="menu-item-name">Vanilla Cheesecake</div>
            <div class="menu-item-price"> $18 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 


  
</div>


   
  