#restaurant-menu{
   margin-top: -2cm;
   width: 30cm;
   margin-left: -4cm;
}
#line{
    width: 3cm;
    background-color: rgb(221, 0, 0);
    height: 0.06cm;
    border-radius: 2cm;
    margin-left: 13.1cm;
    margin-top: 0.3cm;
}

#menu{
    font-size: 1.6cm;
    font-weight: lighter;
}
#restaurant-menu {
	padding: 100px 0 60px 0;
}
#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #a7c44c;
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 32px;
	display: block;
	font-weight: 400;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 45px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 400;
	font-size: 20px;
	color: #444;
	margin-bottom: 10px;
}
#restaurant-menu .menu-item-description {
	font-size: 15px;
	width: 85%;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 400;
	color: #555;
	margin-top: -36px;
}