<h3 class="display-4 text-center"style="margin-top: 0.6cm;"><img src="/assets/img/gallery/OIP.jpg" style="border-radius: 12cm; height: 2cm; width:3cm;margin-left: -29cm; "> FoodKa.</h3>
 <div id="hr"  style="border-top: 2px solid rgb(245, 31, 31);
 width:32cm;
 position: absolute;
 left: 50%;
 margin-left: -18cm;
 margin-top: 3.3cm;
 top: 0;"></div>
 <div style="border-left: 2px solid rgb(245, 147, 147);
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: 2cm;
  margin-top: 4cm;
  top: 0;"
></div>
<form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)" style=" margin-top: 3cm; margin-left:-9cm;padding: 2.2cm; height: 14cm;margin-top: 0cm; width:17cm; border-radius: 2em;">
  <input type="hidden"  name="orderId" #orderId="ngModel" [(ngModel)]="service.formData.orderId">
 
    <div id="form1" style="margin-top: 3cm; background-color: rgb(52, 116, 168); height: 13cm; width: 19cm; padding: 2.3cm; border-radius: 2em; margin-top: -1cm;">     <div class="form-group">
        <label style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 0.6cm;">Order No.</label>
        <div class="input-group">
          <div class="input-group-prepend">
           
          </div>
          <input  style="border-radius: 1em; " name="orderNo" #orderNo="ngModel" [(ngModel)]="service.formData.orderNo" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 0.6cm;">Customer</label>
        <select style="border-radius: 1em;" name="customerId" #customerId="ngModel" [(ngModel)]="service.formData.customerId" class="form-control"
        [class.is-invalid]="!isValid && service.formData.customerId==0">
          <option value="0">-Select-</option>
          <option *ngFor="let item of customerList" value="{{item.customerId}}">{{item.name}}</option>
        </select>
      </div>
   
    
      <div class="form-group">
        <label  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 0.6cm;">Payment Method</label>
        <select name="pmethod" style="border-radius: 1em;" #pmethod="ngModel" [(ngModel)]="service.formData.pmethod" class="form-control">
          <option value="">-Select-</option>
          <option value="Cash">Cash</option>
          <option value="Card">Card</option>
        </select>
      </div>
      <div class="form-group">
        <label  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 0.6cm;">Grand Total</label>

        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input name="gtotal"  #gtotal="ngModel" [(ngModel)]="service.formData.gtotal" class="form-control" readonly>
        </div>
      </div>
    </div>

 
  <!-- order items table-->
  <div id="tab" style="width: 17cm; height: 13cm; background-color: rgb(52, 116, 168); padding: 1cm; margin-left: 22cm; border-radius: 2em; margin-top: -13cm;">
  <table class="table table-primary">
    <thead class="thead-light">
      <th style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 0.6cm; font-weight: lighter;">Food</th>
      <th style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 0.6cm;font-weight: lighter;">Price</th>
      <th style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 0.6cm; font-weight: lighter;">Quantity</th>
      <th style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 0.6cm;font-weight: lighter;">Total</th>
      <th>
        <a class="btn btn-lg btn-outline-secondary text-danger" style="width: 3.4cm; height: 1.3cm; " (click)="AddOrEditOrderItem(null,service.formData.orderId)"><i class="fa fa-plus"></i> Add Item</a>
      </th>
    </thead>
    <tbody>
      <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
        <td class="font-italic text-center" colspan="5">
          No food item selected for this order.
        </td>
      </tr>

      <tr *ngFor="let item of service.orderItems;let i=index;">
        <td>{{item.ItemName}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.Total}}</td>
        <td>
          <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.orderId)"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.orderItemId,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group" style="margin-top:4cm;">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <a class="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i> View Orders</a>
  </div>
  </div>
</form>