<div id="about" style="width:42cm; margin-left: -9.3cm;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-img"> </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="about-text">
          <div class="section-title">
            <h2>Our Story</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr><br><br>
<div id="gallery" style="width: 39cm; margin-left: -9.3cm;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="assets/img/gallery/01.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="assets/img/gallery/02.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="assets/img/gallery/03.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="assets/img/gallery/04.jpg" class="img-responsive" alt=""></div>
      </div>
    </div>
  </div>
</div><br><br><br>
<hr>

<div id="team" style="width: 43cm; margin-top: -2cm;">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1"  style="margin-left: -9.3cm;">
          <div class="section-title">
            <h2>Meet Our Chef</h2>
            <br><br><br>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="team-img" style="margin-top: -8cm; margin-left: 6cm;" ><img src="/assets/img/gallery/chef.jpg" style="height: 13cm;" alt="..."></div>
      </div>
    </div>
  </div>

<br><br>

  <div id="footerSection" style="background-color:#413737; height: 16cm;" >
    <div id="contact" class="text-center">
      <div class="container text-center">
        <div class="row">
        <div class="col-md-4">
          <h3>Reservations</h3>
          <div class="contact-item">
            <p>Please call</p>
            <p>9887766554</p>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Address</h3>
          <div class="contact-item">
            <p> Yelahanka (Near BMSIT),</p>
            <p>India, Karnataka BAnglore 560064</p>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Opening Hours</h3>
          <div class="contact-item">
            <p>Mon-Thurs: 10:00 AM - 11:00 PM</p>
            <p>Fri-Sun: 11:00 AM - 02:00 AM</p>
          </div>
        </div>
      </div>
      </div>
      <div class="container" id="id12">
        <div class="section-title text-center">
          <h3 style="margin-left: -10cm;">Send us a message</h3>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
          </form>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container text-center">
       
        <div class="col-md-6">
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCkqaQoGJ2rAHhWk7gzsb9Aw"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


