

<div class="jumbotron jumbtron-fluid" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  href="home" style="padding-left: 6cm;font-weight: bold; " f>Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 2cm; ">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="padding-left:0.5cm;font-weight: bold">Specials </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="about" style="padding-left: 2cm;font-weight: bold">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="menu" style="padding-left: 2cm;font-weight: bold">Menu</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="#"style="padding-left: 2cm;font-weight: bold">Order</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="login"style="padding-left: 2cm;font-weight: bold">Login/Registration</a>
        </li>
      </ul>
     
    </div>
  </nav>
   <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </div>
</div>