<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1 >FoodKaaa..</h1>
            <p>Reservations: 8978786543 , 8776654345</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2 style="margin-top: -1cm; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">LET'S EAT FRESH FOODS</h2>
      <hr>
    </div>
    <div class="row" style="margin-top: 1cm;">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3 >Yello Curry</h3>
          <img src="/assets/img/specials/1.jpg" class="img-responsive" alt="" style="margin-left: -1cm;width: 300px; height: 200px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3 >Mango curry</h3>
          <img src="/assets/img/gallery/03.jpg"  alt="" style="width: 300px; height: 200px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>chicken lollipop</h3>
          <img src="/assets/img/gallery/02.jpg" class="img-responsive" style="width: 300px; height: 200px; margin-left: 1cm;" alt="">
          <p style="margin-left: 1cm;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Yello Curry</h3>
          <img src="/assets/img/gallery/image4.jpg" class="img-responsive" alt="" style="margin-left: -1cm;width: 300px; height: 200px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Mango curry</h3>
          <img src="/assets/img/gallery/image1.jpg"  alt="" style="width: 300px; height: 200px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>chicken lollipop</h3>
          <img src="/assets/img/gallery/biriyani.jpg" class="img-responsive" style="width: 300px; height: 200px; margin-left: 1cm;" alt="">
          <p style="margin-left: 1cm;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
        </div>
      </div>
    </div>
<div id="footerSection" >
  <div id="contact" class="text-center">
    <div class="container text-center">
      <div class="row">
      <div class="col-md-4">
        <h3>Reservations</h3>
        <div class="contact-item">
          <p>Please call</p>
          <p>9887766554</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Address</h3>
        <div class="contact-item">
          <p> Yelahanka (Near BMSIT),</p>
          <p>India, Karnataka BAnglore 560064</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Opening Hours</h3>
        <div class="contact-item">
          <p>Mon-Thurs: 10:00 AM - 11:00 PM</p>
          <p>Fri-Sun: 11:00 AM - 02:00 AM</p>
        </div>
      </div>
    </div>
    </div>
    <div class="container" id="id12">
      <div class="section-title text-center">
        <h3 style="margin-left: -10cm;">Send us a message</h3>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container text-center">
     
      <div class="col-md-6">
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCkqaQoGJ2rAHhWk7gzsb9Aw"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>